html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Raleway-Regular", sans-serif;
    line-height: 1.8;
    font-size: 1rem;
    color: black;
    background-color: #ffffff;
    margin: 0 auto;
    min-height: 100%;
}

.site-wrapper {
    margin-inline: auto;
}

body a {
    color: black;
    text-decoration: none;
}

header, footer {
    background-color: #009736;
    margin: 0;
    padding: 0;
}

#menu-toggle {
    background-color: transparent;
    border: none;
}

.desktop-nav{
    display: none;
}

.watermelon {
    width: 4rem;
    height: 4rem;
    fill: #000000;
    stroke-width: 1rem;
    background-color: #EE2A35;
    border-radius: 2rem;
    border: .1rem solid #000000 ;
}

#nav-links {
    display: none;
}

#nav-links.toggled {
    display: block;
    padding: 0;
    border: 0;
    margin: 0;
}

li {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

a:visited {
    color: #000000;
}

main a {
    font-size: 1.4rem;
    background-color: #b7eeca;
    border-radius: 2rem;
    padding: .4rem;
}

video {
    position: relative;
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.hero-banner {
    position: relative;
}

h1 {
    font-family: "Glook-Regular", Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 3rem;
    z-index: 2;
    text-transform: uppercase;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
}

h2 {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 2rem;
    text-align: center;
}

.about {
    padding-bottom: 2rem;
}

p {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.main-culture-container, .main-landmarks-container, .main-people-container {
    padding-bottom: 2rem;
    text-align: center;
} 

.main-culture-container, .main-people-container {
    background-color: #fa898e;
    border-top: .2rem dotted black;
    border-bottom: .2rem dotted black;
}

footer {
    text-align: center;
    margin-top: auto;
}
footer a {
    font-size: 1.5rem;
}
footer p {
    font-size: .7rem;
    margin: ;
}

@media (min-width: 58em) {
    

    #menu-toggle {
        display: none;
    }

    .desktop-nav {
        display: flex;
        justify-content: center;
    }

    .desktop-nav li {
        display: inline;
        margin: 0 .2rem;
    }

    .desktop-nav a {
        color: #EE2A35;
        background-color: #b7eeca;
        border-radius: .5rem;
        border: .2rem solid #000000;
        font-size: 2rem;
        font-weight: 600;
        padding: .5rem .5rem;
    }

    footer {
        height: 6rem;
    }

    main a {
        color:#000000;
        background-color: transparent;
    }

    main a:visited {
        color: #000000;-
    }

    h1 {
        font-size: 4.8rem;
    }

    h2 {
        font-size: 3rem;
    }


    .about .about-blurb p {
        padding: 4rem 2rem;
        font-size: 6rem;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .main-culture-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0; 
    }

    .culture-pic {
        grid-column: 1 / 2;
        grid-row : 1 / 4;
        object-fit: fill; 
    }

    .culture-h2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        
    }

    .culture-blurb {
        grid-column: 2 / 3;
        grid-row: 2 / 3;   
    }

    .culture-link {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .main-landmarks-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0;
    }

    .landmarks-pic {
        grid-column: 1 / 2;
        grid-row : 1 / 4;
        align-self: stretch;
    }

    .landmarks-h2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        
    }

    .landmarks-blurb {
        grid-column: 2 / 3;
        grid-row: 2 / 3;   
    }

    .landmarks-link {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .main-people-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0;
    }

    .people-pic {
        grid-column: 1 / 2;
        grid-row : 1 / 4;
        align-self: stretch;
    }

    .people-h2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        
    }

    .people-blurb {
        grid-column: 2 / 3;
        grid-row: 2 / 3;   
    }

    .people-link {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }


}