html, body {

    margin: 0;
    padding: 0;
}

body {
    background-color: #F4999A;
    
}

.container a {
    font-size: .8rem;
}

.container {
    text-align: center;
}

.cite {
    font-size: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    text-align: left;
}

img {
    border: .2rem solid #bfe0bf;
    justify-items: center;
    object-fit: contain;
}


.children {
    padding-top: 10em;
}

h1 {
    font-size: 2.8rem;
    background-color: #bfe0bf;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

h2 {
    text-decoration: underline;
    font-weight: 100;
}

h3 {
    font-size: 1.5rem;
    font-weight: 100;   
}


footer p {
    text-align: center;
}

@media (min-width: 58em) {
    

    header {
        display: block;
        margin: 0;
        padding: 0;
    }

    .container {
        display: block;
        margin: 8rem 8rem;
        font-size: 3rem;
        
    }     

    .div-cat-odd { 
        
    }

    .div-cat-even {background-color: aliceblue;}

h1 {
    10rem;
}

    .cuisine {
        background-color: #bfe0bf79;
    }

    img {
        
    }

    .sports img {
        object-fit: contain;
        max-width: fit-content;
        max-height: fit-content;
    }

}
